@using OnlineStore.BLL.ViewModels.Product;
@model CreateProductViewModel
@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>

@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", htmlAttributes: new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.InventoryQuantity)
        @Html.EditorFor(m => m.InventoryQuantity, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.EditorFor(m => m.Price, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ImagePath)
        <input type="file" name="@nameof(Model.MainImage)"/>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Category, "Id", "Name"), "Select Category of product", new { @class = "form-control" })

    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}