@using OnlineStore.BLL.ViewModels.Category;
@model GetCategoryViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fashion_section">
    <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">


            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">@Model.Name</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            @foreach (var item in Model.Products)
                            {
                                <div class="col-lg-12 col-sm-12">
                                    <div class="box_main">
                                        <h4 class="shirt_text" style="font-size: 15px"><a href="@Url.Action("ProductDetails", "Product", new {Id = item.Id})"> @item.Name</a></h4>
                                        <p class="price_text">Start Price <span style="color: #262626;">@item.Price$</span></p>
                                        <div class="electronic_img"><img src="@Url.Content(item.ProductImages.First().ImagePath)"></div>
                                        <div class="btn_main">
                                            <div class="buy_bt"><a href="@Url.Action("Buy","ShoppingCart",new {productId=item.Id})">Buy Now</a></div>
                                            <div class="seemore_bt"><a href="@Url.Action("ProductDetails","Product",new {id=item.Id})">Details</a></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
                               

            </div>
         </div>
     </div>
  </div>


     
